/**---------------------main_and_bugfix----------------------------**/
@charset "utf-8";
* {
    margin: 0
    padding:0;
}
* {
    outline: none !important;
}
header, nav, section, article, aside, footer {
    display: block;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/**------------------------------------------------------------------**/
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
/**-------------------------wrapper--------------------------**/
#wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/* Header
-----------------------------------------------------------------------------*/
#header {


}


/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin: 35px 0 0 0;
}

.h_logo{
    width: 62px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.h_title{
    width: 488px;
    margin: 0 270px;
    padding: 5px 0;

}

.h_title h1{

}


.top_menu{
    /*width: 1000px;*/
    padding-left: 120px;
    margin: -15px auto;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.top_menu ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 10px 10px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.top_menu ul li:hover{
    background: rgba(30, 30, 30, 0.4);
}
.top_menu ul li a{
    color: #ffffff;
    font-family: Calibri;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.top_menu ul li a:hover{
    opacity: 1;

}
/**-------------------------slider--------------------**/
.slider{
    position: relative;
    display: block;
    height: auto;

}
.h_slider{
    position: relative;

}
.h_slider img{
    position: relative;
    display: block;
    padding: 0px;
    margin: 0 auto;
}
.c_slider{
    position: relative;
    width: 940px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.c_slider img{
    position: relative;
    display: block;
    padding: 0px;
    margin: 0 auto;
    width: 940px;

}
.e_slider{
    position: absolute;
    bottom:20px;
    left: 360px;
    margin:0px;
    width: 250px;
}
.e_slider_2{
    position: absolute;
    bottom:10px;
    left: 360px;
    margin:0px;
    width: 250px;

}
.e_slider ul, .e_slider_2 ul{
    position: relative;
    display: block;

}

.e_slider ul li, .e_slider_2 ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 0 9px;
}
/* Catalog
-----------------------------------------------------------------------------*/
.catalog{
    display: block;
    position: relative;
    width: 940px;
    height: 560px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0px;
}
.catalog_box{
    display: block;
    position: relative;
    float: left;
    width: 23.99%;
    padding-left: 20px;
    padding-bottom: 10px;
}
.catalog_img a,img{
    display: block;

}

.catalog_name h4{
    display: block;
    padding: 10px 0px;
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;

}
.catalog_weight{
    display: block;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #FF9200;
}
.catalog_price{
    display: block;
    margin: 0px;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #d6060a;
}
.catalog_rat{
    position: relative;
    width: 100%;
}

.catalog_rat ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;

}
.catalog_rat ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 0 5px;
}
.catalog_rat ul li:first-of-type{
    padding-left: 0px;
}
/*
-----------------------------------------------------------------------------*/



/* Footer
-----------------------------------------------------------------------------*/
#footer {
    position: relative;
    width: 940px;
    height: 120px;
    border-top: 1px solid #FFFFFF;
    margin: 20px auto;
    font-size: 15px;
    font-family: Calibri;
    text-align: center;
    color: #ffffff;

}
.c_footer{
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.soc_service{
    display: block;
    position: relative;
    float: left;
    width: 30%;
}
.soc_service ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 0 9px;
}
.soc_service ul{
    position: relative;
    display: block;
    margin: 15px auto;
    height: 35px;
    padding: 0;
    }

.f_num{
    display: block;
    position: relative;
    float: left;
    margin: 0 auto;
    width: 45%;
}
#org_num{
    display: block;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: 27px;
    margin: 15px auto;
    font-weight: lighter;
    opacity: 0.8;
}
.f_block{
    display: block;
    position: relative;
    float: right;
    width: 25%;
}
.f_block h3{
    color: #FFFFFF;
    display: block;
    text-align: right;
    font-size: 25px;
    font-weight: lighter;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px 0px 0px 60px;
    padding: 5px;
}

}


