/**---------------------main_and_bugfix----------------------------**/
@charset "utf-8";
/**@import "http://webfonts.ru/import/azoft.css";**/
* {
    margin: 0;
    padding:0;
}
* {
    outline-style: none;
}
header, nav, section, article, aside, footer {
    display: block;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/**------------------------------------------------------------------**/
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.bg_0{
    background-image: url('../img/bg_0.jpg');
}
.bg_2{
    background-image: url('../img/bg_2.jpg');
}
.bg_3{
    background-image: url('../img/bg_3.jpg');
}
a {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}


/**-------------------------wrapper--------------------------**/
#wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/* Header
-----------------------------------------------------------------------------*/
#header {


}


/* Middle
-----------------------------------------------------------------------------*/
#content {
    margin: 55px 0 0 0;
}

.h_logo{
    width: 62px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.h_title{
    width: 488px;
    margin: 0 270px;
    padding: 5px 0;

}

.h_title h1{

}


.top_menu{
    /*width: 1000px;*/
    padding-left: 152px;
    margin: 0px auto;
   /** border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;**/
}
.top_menu_2{
    /*width: 1000px;*/
    padding-left: 152px;
    margin: 0px auto;
    /** border-right: 1px solid #ffffff;
 border-left: 1px solid #ffffff;**/
}

.top_menu ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 10px 10px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.top_menu_2 ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 10px 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.top_menu ul li:hover{
    background: rgba(50, 50, 50, 0.4);
}
.top_menu_2 ul li:hover{
    background: rgba(254,163,158,0.6);
}
.top_menu ul li a{
    color: #ffffff;
    font-family: Calibri;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.top_menu_2 ul li a{
    color: #000000;
    font-family: Calibri;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.top_menu ul li:hover a{
    opacity: 1;
}
.top_menu ul li:hover{
    cursor: pointer;
}
.top_menu_2 ul li:hover a{
    opacity: 1;
    color: #FFFFFF;
}
.top_menu_2 ul li:hover{
    cursor: pointer;
}
.page_title {
    position: relative;
    display: block;
    z-index: 10;
    margin: 0 auto;
    padding: 10px 0px;
    width: 942px;
    background: #FFF;
}
.page_title h3{
    position: relative;
    display: block;
    margin: 0 auto;
    font-family: 'Azoft Sans',SANS-SERIF;
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
    /**color: #4FA84F;**/
    opacity: 0.9;
}
/**-------------------------slider--------------------**/
.slider{
    position: relative;
    display: block;
    height: auto;

}
.h_slider{
    position: relative;

}
.h_slider img{
    position: relative;
    display: block;
    padding: 0px;
    margin: 0 auto;
}
.c_slider{
    position: relative;
    width: 942px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.c_slider img{
    position: relative;
    display: block;
    padding: 0px;
    margin: 0 auto;
    width: 942px;

}
.e_slider{
    position: absolute;
    bottom:20px;
    left: 402px;
    margin:0px;
    width: 250px;
}
.e_slider_2{
    position: absolute;
    bottom:10px;
    left: 396px;
    margin:0px;
    width: 250px;

}
.e_slider ul, .e_slider_2 ul{
    position: relative;
    display: block;

}

.e_slider ul li, .e_slider_2 ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 0 9px;
}
.e_slider ul li:hover, .e_slider_2 ul li:hover{
    opacity: 0.6;
}
/*-----------------------------page_container---------------------------*/
.page{
    display: block;
    position: relative;
    width: 942px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 20px 20px;
}
.map_service{
    display: block;
    position: relative;
    float: left;
    width: 65.99%;
}
.map_service img{
    display: block;
    position: relative;
}
.page_r_tab{
    display: block;
    position: relative;
    float: left;
    width: 30.99%;
    padding-left: 20px;
}
.page_r_tab h3{
    display: block;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.page_r_tab p{
    display: block;
    color: #000000;
}

.page_f_tab{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #000000;
    padding: 10px 0px;
}
.dlv_srv{
    display: block;
    position: relative;
    float: left;
    width: 55.99%;
}
.dlv_srv img{
    display: block;
    position: relative;
    float: left;
    width: 40%;
    padding-top: 30px;
    padding-left: 10px;
}
.dlv_srv_c{
    display: block;
    position: relative;
    float: left;
    width: 60%;
    padding: 10px 5px;
    margin: 0px;
}
.dlv_srv_c h4{
    display: block;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.card_srv{
    display: block;
    position: relative;
    float: left;
    width: 40.99%;
    background: #ffe0c2;
}
.card_srv img{
    display: block;
    position: relative;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
/*-----------------------------news_container---------------------------*/
.news_box{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding:6px 0px;
    border-bottom:1px solid #000000; ;
}
.news_m_box{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0px 15px 0px;
    border-bottom:4px solid #acacac; ;
}
.n_box_img{
    display: block;
    position: relative;
    float: left;
    width: 39.99%;
}
.n_box_img a img{
    display: block;
    position: relative;
}
.n_box_post{
    position: relative;
    float: left;
    width: 59%;
    padding: 10px 15px;
}
.n_box_post h3{
    position: relative;
    float: left;
    display: block;
    font-size: 18px;
    margin-right: 5px;
    color: #cc6633;
    text-transform: uppercase;
    font-weight: bold;
}
.n_box_post p{
    display: block;
    color: #000000;
    font-size: 12px;
    margin: 2px 0px 0px 0px;
}
.m_box_tab1{
    position: relative;
    float: left;
    width: 40.999%;
    padding:  10px 30px 10px 0px;
    margin: 0px;
}
.m_box_tab1 h4,.m_box_tab2 h4{
    display: block;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 2px 0px;
}
.m_box_tab2{
    position: relative;
    float: left;
    width: 19.999%;
    padding: 10px 5px;
    margin: 0px;
}
.m_box_tab3{
    position: relative;
    float: left;
    width: 37.999%;
    padding: 10px 0px;
    margin: 0px;
}
.m_box_tab3 h4{
    display: block;
    font-size: 16px;
    color: #ff2626;
    font-style: italic;
    font-weight: bold;
    margin: 0px 0px 2px 0px;
}
.m_box_tab3 p{
    font-style: italic;
}
.m_box_tab3 img{
    display: block;
    position: relative;
    float: left;
}
.m_box_tab3_c{
    position: relative;
    float: left;
    width: 55.999%;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

/* Catalog
-----------------------------------------------------------------------------*/
.catalog{
    display: block;
    position: relative;
    width: 942px;
    height: 560px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0px;
}
.catalog_box{
    display: block;
    position: relative;
    float: left;
    width: 23.99%;
    padding-left: 20px;
    padding-bottom: 10px;
}
.catalog_img a,img{
    display: block;
}
.catalog_name h4{
    display: block;
    padding: 10px 0px;
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
}
.catalog_name h4:hover{
    color: #a80a2b;
    opacity: 0.8;
}
.catalog_weight{
    display: block;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #FF9200;
}
.catalog_price{
    display: block;
    margin: 0px;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #d6060a;
}
.catalog_rat{
    position: relative;
    width: 100%;
}

.catalog_rat ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;

}
.catalog_rat ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 0 5px;
}
.catalog_rat ul li:first-of-type{
    padding-left: 0px;
}
/* Blog
-----------------------------------------------------------------------------*/

.blog{
    display: block;
    position: relative;
    background: #FFF;
    margin: 0 auto;
    padding:0px 0px;
    width: 940px;
}
.blog_box{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;

}
.post_date{
    position: relative;
    margin: 0px;
    padding: 0px 5px;
    float: left;
    width: 15.99%;
}
.post_content{
    position: relative;
    margin: 0px;
    padding: 0px 5px;
    float: left;
    width: 80.99%;
}
.post_content h4,p,.post_date h3{
    display: block;
    margin: 0px;
}
.post_content h4{
    color: #000000;
    font-size: 22px;
}
.post_date h3{
    color: #bf681d;
    font-size: 22px;
    padding: 0 15px;
}
.post_date p{

}

/*
--------------------------------PR_BOX---------------------------------------------*/
.pr_box{
    position: relative;
    margin: 0px;
    padding: 20px 35px;
    float: left;
    width: 30.99%;
}
.pr_box_img{

}
.pr_box_title{
    color: #000000;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin: 10px auto;
    padding: 0 15px;
}
/*
--------------------------------VAC_BOX---------------------------------------------*/
.vac_box{
    display: block;
    position: relative;
    float: left;
    width: 60.99%;
    margin: 0px;
    padding: 10px 20px 10px 70px;
}
.v_box_post{
    position: relative;
    float: left;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}
.v_box_post h3{
    font-size: 15px;
}
.vac_rtab{
    display: block;
    position: relative;
    float: left;
    width: 38.99%;
    margin: 0px;
    padding: 10px 43px;
}
.rtab_img {
    position: absolute;
    top: 10px;

}
.rtab_block{
    position: relative;
    margin: 0 auto;
    margin-top: 190px;
    width: 88%;
    padding: 100px 20px 10px 20px;
    background: #99cbcb;
    text-align: center;

}
.rtab_block h4,.rtab_block p{
    font-style: italic;
    font-family: SERIF;
    color:#000000;

}
.rtab_block p{
    font-size: 15px;
}
.rtab_block h4{
    font-size: 25px;
    padding: 10px 0px;
}
/*
--------------------------------PRZ_BOX---------------------------------------------*/
.prz_box{
    position: relative;
    margin: 0px;
    padding: 0px 20px 30px 20px;
}
.prz_box_img{
    display: block;
    position: relative;
    float: left;
    width: 50.99%;
    margin: 0px;
    padding: 10px 20px 10px 70px;
}
.prz_box_c{
    display: block;
    position: relative;
    float: left;
    width: 48.99%;
    margin: 0px;
    padding: 10px 20px 10px 20px;

}
.prz_box_c h3{
    font-size: 35px;
    color: #000000;
    width: 60%;
    margin: 10px auto;
    padding-bottom: 20px;
    text-align: center;
}
.prz_box_c p{
    font: 18pt sans-serif;

    color: #000000;
}
#p_box_line{
    display: block;
    position: relative;
    width: 40%;
    margin: 30px auto;
    border-top: 1px solid #000000 ;
}


/*
--------------------------------CORP_BOX---------------------------------------------*/
.corp_box{
    position: relative;
    margin: 0px;
    padding: 0px 20px;
}
.corp_box_img{
    display: block;
    position: relative;
    float: left;
    width: 23.99%;
    margin: 0px;
    padding: 5px 5px;
}
.corp_box_post{
    display: block;
    position: relative;
    float: left;
    width: 70.99%;
    margin: 0px;
    padding: 5px 5px;
}
.corp_box_post h3{
    font-size: 20px;
    color:#000000;
    padding-bottom: 10px;
}
/*
--------------------------------hist_BOX---------------------------------------------*/
.hist_box{
    position: relative;
    margin: 0px;
    padding: 0px 20px;
}
.hist_box_img{
    display: block;
    position: relative;
    float: left;
    width: 23.99%;
    margin: 0px;
    padding: 5px 5px;
}
.hist_box_group{
    position: relative;
    float: left;
    width: 51.99%;
}
.hist_box_post{
    display: block;
    position: relative;
    float: left;
    margin: 0px;
    padding: 10px 5px 0px 5px;
}
.hist_box_post h3{
    float: left;
    font-size: 20px;
    color:#000000;
    padding: 0px 3px;
}
.hist_box_post h4{
    float: left;
    font-size: 16px;
    color:#000000;
    padding: 0px 3px;
}
.hist_box_post p{
    margin-top: 3px;
    margin-bottom: 10px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
    position: relative;
    width: 940px;
    height: 120px;
    border-top: 1px solid #FFFFFF;
    margin: 20px auto;
    font-size: 15px;
    font-family: Calibri;
    text-align: center;
    color: #ffffff;

}
#footer_2 {
    position: relative;
    width: 940px;
    height: 120px;
    border-top: 1px solid #000000;
    margin: 20px auto;
    font-size: 15px;
    font-family: Calibri;
    text-align: center;
    color: #000000;

}
.c_footer{
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.soc_service{
    display: block;
    position: relative;
    float: left;
    width: 30%;
}
.soc_service ul li{
    position: relative;
    float: left;
    list-style: none;
    padding: 0 9px;
}
.soc_service ul{
    position: relative;
    display: block;
    margin: 15px auto;
    height: 35px;
    padding: 0;
    }

.f_num{
    display: block;
    position: relative;
    float: left;
    margin: 0 auto;
    width: 45%;
}
#org_num{
    display: block;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: 27px;
    margin: 15px auto;
    font-weight: lighter;
    opacity: 0.8;
}
.f_block{
    display: block;
    position: relative;
    float: right;
    width: 25%;
}
.f_block h3{
    color: #FFFFFF;
    display: block;
    text-align: right;
    font-size: 25px;
    font-weight: lighter;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px 0px 0px 60px;
    padding: 5px;
}




